---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <h3>Hello!</h3>
  <p>I'm Ignacio Rodriguez, a passionate game programmer and avid gaming enthusiast.</p>
  <p>On this page, you'll find my portfolio, resume, and contact information. Feel free to explore!</p>
  <div class="image-grid">
    <div class="grid-image">
      <img src="/satori.jpg" class="grid-game-image" />
    </div>
    <div class="grid-image">
      <img src="/vvv_vaciador.png" class="grid-game-image" />
    </div>
    <div class="grid-image">
      <img src="/creekgames.jpg" class="grid-game-image" />
    </div>
  </div>
</BaseLayout>