---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  
  <h3>Hello!</h3>
  <p>I'm Ignacio Rodriguez, a passionate game programmer and avid gaming enthusiast.</p>
  <p>On this page, you'll find my portfolio, resume, and contact information. Feel free to explore!</p>
  </div>

  <hr class="horizontal-line-home" />

  <h3>Highlighted Professional Work</h3>

  <div class="portfolio-item">
    <div class="item-text">
      <div class="sticker-container">
        <div class="sticker" id="cpp-sticker">
          <span class="sticker-text">C++</span>
        </div>
        <div class="sticker" id="unreal-sticker">
          <span class="sticker-text">Unreal Engine</span>
        </div>
      </div>
      <p>
        As a Game Programmer at Creek Games, I worked with Unreal Engine to develop 
        gameplay mechanics and UI elements.
      </p>
        <div class="links-container">
          <a href="https://www.youtube.com/watch?v=7wTJkRMwnQE" target="_blank" rel="noopener noreferrer">Teaser</a>
          <span>/</span>
          <a href="linktr.ee/FragmentsOfChild" target="_blank" rel="noopener noreferrer">More info</a>
        </div>
    </div>
    <div class="item-image">
      <img src="/src/assets/creekgames.jpg" class="game-image" loading="lazy"/>
    </div>
  </div>

</BaseLayout>