---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <div class="portfolio-container">

    <div class="portfolio-item">
      <div class="item-text">
        <p>GBA Game done with Butano Engine</p>
        <p>I "ported" one of my favorite band's albums to GBA. This can be played on a real Game Boy Advance.</p>
          <div class="links-container">
            <a href="https://millelire.itch.io/vaciador-vvv-gba" target="_blank" rel="noopener noreferrer">Itch.io Page</a>
            <span>/</span>
            <a href="https://github.com/eneaceo/GameBoyAdvance-Music-Player" target="_blank" rel="noopener noreferrer">Github Repository</a>
            <span>/</span>
            <a href="https://github.com/GValiente/butano" target="_blank" rel="noopener noreferrer">Butano Engine</a>
      </div>
      </div>
      <div class="item-image">
          <img src="/vvv_vaciador.png" class="game-image" />
      </div>
    </div>

    <div class="portfolio-item">
      <div class="item-text">
        <p>Master's final project done with Unreal Engine</p>
        <p>Lore Ipsum</p>
          <div class="links-container">
            <a href="https://www.youtube.com/watch?v=XLPVDHbuVe8" target="_blank" rel="noopener noreferrer">Trailer</a>
            <span>/</span>
            <a href="https://store.steampowered.com/app/2730020/Satori/" target="_blank" rel="noopener noreferrer">Steam Page</a>
      </div>
      </div>
      <div class="item-image">
          <img src="/satori.jpg" class="game-image" />
      </div>
    </div>

  </div>
</BaseLayout>