---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
    <div class="resume-container">
    <h2>Resume</h2>
    <p>
            Programmer with experience in C++ and game design, with strong teamwork skills and effective communication. 
            Highly adaptable to new environments and capable of working autonomously and responsibly, managing time efficiently.
    </p>
        <h3>Experience</h3>
        <p>Mid Engine Programmer C++</p>
        <p>Zitro May 2024 - Now</p>
        <p>
            Provide support to other departments by adding new features to the Godot engine.
            Fix bugs and improve performance.
            Adapt existing features to new specifications
        </p>
        <hr class="horizontal-line-home" />
        <p>Mid Gameplay Programmer Godot</p>
        <p>Zitro July 2023 - May 2024</p>
        <p>
            Main programmer of the assigned project.
            Add features and fix bugs.
            Train new hires and code reviews.
        </p>
        <hr class="horizontal-line-home" />
        <p>Junior Gameplay Developer Godot</p>
        <p>Zitro February 2023 - July 2023</p>
        <p>
            Add features and fix bugs.
        </p>
        <hr class="horizontal-line-home" />
        <p>Junior Gameplay Developer C++ / Unreal Engine</p>
        <p>Creek Games August 2022 - February 2023</p>
        <p>
            Implement gameplay features for the enviorement and the character.
            Resolve bugs for shows and demos.
        </p>
        <h3>Skills</h3>
        <div class="sticker-container">
            <div class="sticker">
            <span class="sticker-text">C++</span>
            </div>
            <div class="sticker">
            <span class="sticker-text">Unreal Engine</span>
            </div>
            <div class="sticker">
                <span class="sticker-text">Godot</span>
            </div>
            <div class="sticker">
                <span class="sticker-text">Game Patterns</span>
            </div>
            <div class="sticker">
                <span class="sticker-text">Jira</span>
            </div>
            <div class="sticker">
                <span class="sticker-text">Git</span>
            </div>
            <div class="sticker">
                <span class="sticker-text">Agile methologies</span>
            </div>
            <div class="sticker">
                <span class="sticker-text">Game Design</span>
            </div>
        </div>
    </div>
</BaseLayout>