---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
   <h2>Resume</h2>
   <h3>
        Programmer with experience in C++ and game design, with strong teamwork skills and effective communication. 
        Highly adaptable to new environments and capable of working autonomously and responsibly, managing time efficiently.
    </h3>
    <h2>Experience</h2>
    <h3>Mid Engine Programmer C++</h3>
    <p>Zitro May 2024 - Now</p>
    <p>
        Provide support to other departments by adding new features to the Godot engine.
        Fix bugs and improve performance.
        Adapt existing features to new specifications
    </p>
    <h3>Mid Gameplay Programmer Godot</h3>
    <p>Zitro July 2023 - May 2024</p>
    <p>
        Main programmer of the assigned project.
        Add features and fix bugs.
        Train new hires and code reviews.
    </p>
    <h3>Junior Gameplay Developer Godot</h3>
    <p>Zitro February 2023 - July 2023</p>
    <p>
        Add features and fix bugs.
    </p>
    <h3>Junior Gameplay Developer C++ / Unreal Engine</h3>
    <p>Creek Games August 2022 - February 2023</p>
    <p>
        Implement gameplay features for the enviorement and the character.
        Resolve bugs for shows and demos.
    </p>
    <h2>Skills</h2>
    <p>
        C++
        Unreal Engine
        Godot
        Game patterns
        Jira
        Git
        Agile methodologies
        Game design
    </p>
</BaseLayout>