---
import Header from '../components/Header.jsx';
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ignacio Rodriguez - Game Developer</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
